
.about{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}


.about-section{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #767676;
}

.about-sec-left,
.about-sec-right{
    grid-column: span 4;
}

.about-sec-right{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-sec-col{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.about-sec-col p{
    grid-column: span 2;
}