

/* PAGE HEADER */

header{
    position: sticky;
    top: 10px;
    z-index: 999;
    mix-blend-mode: difference;
}

.header-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.header-home-btn{
    text-decoration: none;
}

.header-left{
    grid-column: span 2;
}

.header-right{
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.header-right h2{
    grid-column: span 1;
}

.header-right .current-time{
    grid-column: span 1; 
}



/* PAGE INTRO */

.intro-home,
.intro-alt{
    padding-top: 20px;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.intro-info-wrap{
    grid-column: 3 / span 2;
}




/* PROJECT INFO */

.project-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin-bottom: 60px;
}

.intro-cont-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    grid-column: span 2;
}

.project-title,
.project-subject-intro{
    grid-column: span 1;
}

.intro-desc{
    grid-column: span 2;
}