

.portfolio{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}


/* PROJECT */
.project{
    grid-column: span 2;
    margin-bottom: 60px;
}

.project-link{
    text-decoration: none;
    color: black;
    padding: 0;
}


/* IMAGE */
.project-image-wrap{
    overflow: hidden;
    padding: 0;
}

.project-image-wrap img{
    transition: 0.6s;
}

.project-image-wrap:hover img{
    transform: scale(1.02);
    filter: invert(1);
}




/* TEXT */
.project-title-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    margin-top: 4px;
}

.project-name,
.project-subject{
    grid-column: span 1;
}