
.about{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}


.about-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.about-sec-left{
    grid-column: span 1;
}

.about-sec-right{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-sec-col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.about-sec-col p{
    grid-column: span 1;
}