<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Thomas Hadfield">
        <meta name="description" content="Thomas Hadfield is a Canadian multidisciplinary graphic designer living and working in Toronto.">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">

        <title>Thomas Hadfield – {{ title }}</title>

    </head>



    <body>

        <div class="wrapper">
            
            {% include "layouts/header.njk" %}
            {% include "layouts/intro-alt.njk" %}
            {% include "layouts/project-info.njk" %}

            <!-- PORTFOLIO -->
            <section class="case-study">
                
                {{ content | safe }}   

            </section>
            
            <section class="pre-footer">
                <p class="back-btn">
                    <a href="/">See More Projects</a>
                </p>
            </section>

            {% include "layouts/footer.njk" %}

        </div>


        <!-- Linked JS Files -->
        <script type="text/javascript" src="https://unpkg.com/lenis@1.1.20/dist/lenis.min.js" referrerpolicy="no-referrer"></script> 

        <script type="text/javascript" src="https://moment.github.io/luxon/global/luxon.min.js" referrerpolicy="no-referrer"></script>

        <script type="text/javascript" src="/scripts/script.js" referrerpolicy="no-referrer"></script>

    </body>

</html>
