<!-- FOOTER -->
<footer>
    <div class="footer-info-1">
        <p>
            colophon: <a href="https://google.com" target="_blank" rel="noopener noreferrer">geist</a> , <a href="https://google.com" target="_blank" rel="noopener noreferrer">DM mono</a>
        </p>
        <p>
            <a href="https://google.com" target="_blank" rel="noopener noreferrer">source code</a>
        </p>
    </div>
    <div class="footer-info-2">
        <p class="footer-copyright">©thomas hadfield</p>
        <p>
            <a href="#top" rel="noopener noreferrer">top^</a>
        </p>
    </div>
</footer>