            <header>
                <div class="header-content-1">
                    <h1>Thomas Hadfield <br> Graphic Designer </h1>
                </div>

                <div class="header-content-2">
                    <h2 class="h2-reg"> Leiden, Netherlands </h2>
                    <output class="current-time h2-reg" id="time">00:00:00</output>
                </div>
            </header>