            <!-- INTRO -->
            <section class="section-intro">

                <div class="section-intro-content intro-first">

                    <p class="page-index"> /index/ </p>
                    
                    <div class="intro-links-wrap">
                        <p class="intro-links">
                            <a href="mailto:work@hadfield.xyz" target="_blank" rel="noopener noreferrer">Email</a>
                            <br>
                            <a href="https://www.linkedin.com/in/thomashadfield" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                            <br>
                            <a href="https://www.are.na/thomas-hadfield/channels" target="_blank" rel="noopener noreferrer">Are.na</a>
                            <br>
                            <a href="https://mastodon.social/@neuehaas" target="_blank" rel="noopener noreferrer">Mastodon</a>
                        </p>
                    </div>
                </div>

                <div class="section-intro-content">
                    <p class="intro-bio"> {{ bio }} 
                        <br>
                        <br>
                        Currently {{ currentJob }}.
                    </p>
                </div>
            </section>