
        <section class="intro intro-alt">
                
            <div class="intro-links-wrap">
                <p class="intro-links">
                    <a href="/about/" rel="noopener noreferrer">About</a>
                    <br>
                    <a href="mailto:work@hadfield.xyz" target="_blank" rel="noopener noreferrer">Email</a>
                    <br>
                    <a href="https://www.linkedin.com/in/thomashadfield" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                    <br>
                    <a href="https://mastodon.social/@neuehaas" target="_blank" rel="noopener noreferrer">Mastodon</a>
                </p>
            </div>

        </section>




