            <!-- INTRO -->
            <section class="section-intro">

                <div class="section-intro-content intro-first">
                    <p class="page-index"> <a href="/">/index/</a>{{ title }} </p>
                    
                    <div class="intro-links-wrap">
                        <p class="intro-links">
                            <a href="mailto:work@hadfield.xyz" target="_blank" rel="noopener noreferrer">Email</a>
                            <br>
                            <a href="https://www.linkedin.com/in/thomashadfield" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                            <br>
                            <a href="https://www.are.na/thomas-hadfield/channels" target="_blank" rel="noopener noreferrer">Are.na</a>
                            <br>
                            <a href="https://mastodon.social/@neuehaas" target="_blank" rel="noopener noreferrer">Mastodon</a>
                        </p>
                    </div>
                </div>

                <div class="section-intro-content-2">
                    <div class="intro-cont-wrap">
                        <h3 class="project-title">
                            {{ title }}, 
                        </h3>

                        <h3 class="project-subject-intro">
                            {{ subject }}
                        </h3>
                    </div>
                    
                    <p class="intro-desc"> 
                        {{ description }} 
                        <br><br>
                        <a href=" {{ website }} " target="_blank" rel="noopener noreferrer"> Website </a>
                    </p>

                </div>
            </section>