
        <!-- INFO -->

        <section class="project-info">

            <div class="intro-cont-wrap">
                <h3 class="project-title">
                    {{ title }}, 
                </h3>

                <h3 class="project-subject-intro">
                    {{ subject }}
                </h3>
            </div>
            
            <p class="intro-desc"> 
                {{ description }}
                <br><br>
                {{ studioTXT }}
                <a href=" {{ studioURL }} " target="_blank" rel="noopener noreferrer"> {{ studioName }} </a>
                <br>
                <a href=" {{ webURL }} " target="_blank" rel="noopener noreferrer"> {{ webTXT }} </a>
            </p>

        </section>




