---
layout: layouts/base-alt.njk

title: About

bio: I’m a graphic designer from Toronto, Canada. After building my career in Toronto’s design industry, I moved to Europe at the end of 2024 to expand my perspective on life and my design practise.

---



            <!-- PORTFOLIO -->
            <main class="about">


                <section class="philosophy about-section">

                    <div class="about-sec-left">
                        <h2>Design Philosphy</h2>
                    </div>

                    <div class="about-sec-right">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Lectus nullam velit pharetra dolor non. Auctor est commodo dictum vitae commodo id tristique leo. Dignissim at felis hac ut odio tortor. Dis ut elit vulputate ridiculus malesuada. Cras lacinia pharetra eget libero eleifend leo condimentum. Integer duis varius in metus velit gravida sed pharetra semper.Venenatis a massa rhoncus quisque dictum et.
                            <br><br>
                            Cras at dictumst aliquet egestas nulla vulputate purus tortor lectus. Euismod adipiscing pharetra tellus augue facilisis eu. Consectetur amet sit sed lectus elit velit velit massa bibendum. Nisl malesuada dignissim lacus pharetra eget euismod donec ac. Sed dignissim in turpis pulvinar commodo posuere quis amet. Cras suscipit consequat facilisis metus pellentesque.
                            <br><br>
                            Aenean viverra quis lobortis aliquet volutpat. Interdum diam mollis neque volutpat vulputate mattis elementum feugiat gravida. Eget cursus nunc eget diam nibh tortor. Ut mus dolor pharetra eget tincidunt tristique. Enim lorem augue odio faucibus tristique ut nisi. Egestas facilisis varius aenean id tortor vitae auctor arcu at. Diam sodales et facilisi morbi ultricies euismod. Odio tempor non odio pellentesque eleifend dis. Morbi et ac aliquet quis sollicitudin eros euismod arcu nec. Venenatis mauris placerat nulla non non tellus posuere.
                        </p>
                    </div>

                </section>



                <section class="experience about-section">

                    <div class="about-sec-left">
                        <h2>Experience</h2>
                    </div>

                    <div class="about-sec-right">

                        <div class="about-sec-col">
                            <p>Mar – Sept 2025</p>
                            <p>Visual Designer, Freelance <br> Studio Dumbar</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Dec 2024 - Present</p>
                            <p>Brand & Visual Designer, Freelance<br> Self Employed</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Feb 2023 – Nov 2024</p>
                            <p>Senior Graphic Designer <br> Rethink</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Feb 2023 – Nov 2024</p>
                            <p>Graphic Designer <br> Jacknife</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Nov 2018 – Nov 2019</p>
                            <p>Graphic Designer <br> The Workhouse</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Sept 2016 – May 2018</p>
                            <p>Junior Designer <br> Publicis</p>
                        </div>

                        <div class="about-sec-col">
                            <p>Jan – May 2016</p>
                            <p>Design Intern <br> Projektor</p>
                        </div>



                    </div>

                </section>



                <section class="education about-section">

                    <div class="about-sec-left">
                        <h2>Education</h2>
                    </div>

                    <div class="about-sec-right">
                        
                        <div class="about-sec-col">
                            <p>2022</p>
                            <p>Coursera <br> Google UX Design Certificate Course</p>
                        </div>

                        <div class="about-sec-col">
                            <p>2019</p>
                            <p>Juno College of Technology <br> Front End Web Development Course</p>
                        </div>

                        <div class="about-sec-col">
                            <p>2016</p>
                            <p>George Brown College, School of Design <br> Advanced Diploma, Graphic Design</p>
                        </div>
                        
                    </div>                    

                </section>

            </main>