---
layout: layouts/base.njk

title: Thomas Hadfield

bio: I'm a Canadian graphic designer currently living in the Netherlands. Throughout my career I've been fortunate enough to work on a diverse range of design  projects. My approach to design is heavily influenced by the Brutalist  style, characterized by bold, utilitarian aesthetics that focus on functionality and purpose.

currentJob: freelancing @ Studio Dumbar

---



            <!-- PORTFOLIO -->
            <main id="top" class="portfolio">

                <!-- PROJECTS -->
                
                {%- for project in collections.project -%}
                    <section class="project-{{ project.data.projectTemplate }}">

                        <a class="project-link" href=" {{ project.url }}">
                            <div class="project-image-wrap">
                                <img src=" {{ project.data.heroImage }} " alt=" {{ project.data.heroImageAlt }}">    
                            </div>
                        </a>

                        <div class="project-title-wrap-{{ project.data.projectTemplate }}">
                            <p class="project-name"> {{ project.data.title }} </p>
                            <p class="project-subject"> [{{ project.data.subject }}] </p>
                        </div>
                    </section>
                {%- endfor -%}


            </main>